body{
  margin: 500;
  font-family: sans-serif;
  background:#FF5819;  
}

.form.usuario{
  width:60%;
  max-width:500px;
  margin:auto;
  background:#A5AA56;
  border-radius:7px;
}


.contenedor_registro usuario{
  text-align:center;
 
}


.titulo_registro usuario{
  background:#0741C1;
  color: #fff;
  padding: 8px;
  text-align:center;
  font-weight:100px;
  font-zise: 30px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom: 10px solid crimson;
}
